/* ----------------------------------
	Content Section Styles
 ------------------------------------ */

.content_wrapper{
	background: $white;
	overflow: hidden;
}

.content_top{
	h2{
        font-weight: bold;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 20px;
	}
	h6{
		font-size: 16px;

	}
	
	table{
		thead{
			background-color: #DDDDDD;
		}
		tr {
			th,td {
				border: 1px solid rgb(188 188 188);
				padding: 10px;
				font-size: 16px;
				font-family: $body-font;
				color: #333333;
			}
			
			.td_1{
				background-color: #FCF8E3;
			}
			.td_2{
				background-color: #DFF0D8;
				color: $green;
			}
			.td_3{
				background-color: #F2DEDE;
				color: #A94442;
			}
		}
		margin-bottom: 20px;
	}
	.td_title{
		padding: 20px 0px;
		background-color: $primary;
		color: $white;
		font-weight: bold;
        font-size: 20px;
		margin-bottom: 0;
	}
	p{
		font-size: 16px;
		color: #333333;
		font-family: $body-font;
		margin-bottom: 20px;
	}
}
.content_bottom{
	h3{
		font-size: 28px;
        font-weight: bold;
        line-height: 1.3;
        color: #232323;
        text-transform: uppercase;
        margin: 30px 0px;
	}
	p{
		font-size: 16px;
		color: #333333;
		font-family: $body-font;
		margin-bottom: 15px;
	}
}

.content-right{
	.inner-content{
		padding: 20px;
		border-radius: 2px;
		margin: 10px 0px 30px 0px;
		background-color: #70BFEA;
		h4{
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
		}
		p{
			font-size: 16px;
			color: #333333;
		}
		ul{
			>li{
				list-style:circle;
				margin: 10px;
				color: #333333;
			}
		}
		a{
			color: #333333;
			&:hover{
				text-decoration: underline;
			}
		}
		&.inner_middle{
			background-color: $primary;
			h4{
				color: $white;
			}
			p{
				color: $white;
			}
			ul{
				>li{
					color: $white;
				}
			}
			a{
				margin-top: 5px;
				color: $white;
				font-size: 16px;
				font-weight: bold;
				text-transform: capitalize;
				background: transparent;
				border-radius: 4px;
				border: 1px solid $white;
				text-decoration: none;
				&:hover{
					border: 1px solid $green;
					background-color: $green;
				}
			}
		}
	}

}

.director_wrapper{
	&.director_wrapper_2{
		.director_bg{
			height: 400px;
			width: auto;
		}
		.director_content{
			h5{
				margin: 20px 0px;
			}
			.mission_info{
				li{
					list-style: circle;
					margin: 10px;
				}
			}
		}
	}
	table{
		thead{
			border-bottom: 2px solid rgb(188 188 188);
		}
		td{
			a{
				color: $primary-2;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.content-help_right{
	h4{
		position: relative;
		font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        position: relative;
        padding-bottom: 1px;
		&::after{
			position: absolute;
			content: '';
			clear: both;
			width: 100px;
			height: 3px;
			margin-bottom: -10px;
			background-color: $textcolor;
			bottom: 0;
			left: 0;
		}
	}
	p{
		margin-bottom: 1rem;
	}
	a{
		color: $base;
	}
}
.director_content{
	h2{
		margin-bottom: 5px;
		font-size: 32px;
		color: #333333;
		font-weight: bold;
	}
	h5{
		font-size: 18px;
		color: $green;
		font-weight: 700;
	}
	p{
		margin-bottom: 10px;
		line-height: 23px;
	}
}

.user-grid_widget{
	.content{
		h4{
			color: $primary;
			font-weight: 800;
			margin-bottom: 0;
			margin: 15px 0px;
			font-size: 30px;
		}
		p{
			margin: 10px 0px;
			span{
				color: $primary-2;
				font-weight: 900;
				font-size: 18px;
			}
			strong{
				font-weight: 900;
				color: #232323;
			}
		}
		ul{
			>li{
				list-style: circle;
			}
		}
	}
}
