/* ----------------------------------
	Content Section Styles
 ------------------------------------ */

.content_wrapper{
	background: $white;
	overflow: hidden;
}

.content_top{
	h2{
        font-weight: bold;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 20px;
	}
	h6{
		font-size: 16px;

	}
	
	table{
		thead{
			background-color: #DDDDDD;
		}
		tr {
			th,td {
				border: 1px solid rgb(188 188 188);
				padding: 10px;
				font-size: 16px;
				font-family: $body-font;
				color: #333333;
			}
		}
		margin-bottom: 20px;
	}
	.td_title{
		padding: 20px 0px;
		background-color: $base;
		color: $white;
		font-weight: bold;
        font-size: 20px;
		margin-bottom: 0;
	}
	p{
		font-size: 16px;
		color: #333333;
		font-family: $body-font;
		margin-bottom: 20px;
	}
}
.content_bottom{
	h3{
		font-size: 28px;
        font-weight: bold;
        line-height: 1.3;
        color: #232323;
        text-transform: uppercase;
        margin: 20px 0px;
	}
	p{
		font-size: 16px;
		color: #333333;
		font-family: $body-font;
		margin-bottom: 10px;
	}
}
