header {
    width: 100%;
    z-index: 9999; 
    .header-top{
        padding: 10px 0px;
        background-color: $primary;
        .header_top_widget{
            display: flex;
            justify-content: space-between;
            .header_top_left{
                a{
                    color: $textcolor;
                    i{
                        margin-right: 5px;
                    }
                }
            }
            .header_top_right{
                ul{
                    >li{
                        float: left;
                        margin: 0px 5px;
                        a{
                            color: $textcolor;
                            @include transition(0.4s);
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }  
    .main-header-wraper{
        padding: 25px 0px;
        background-color: $white;
    }
    .main-menu {                         
        ul {
            line-height: 1;                   
            > li {
                display: inline-block;
                line-height: 1;

                > a {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: capitalize;
                    line-height: 1;
                    padding: 25px 20px;
                    overflow: hidden;   
                    color: $primary;                     
                }

                &:hover {

                > ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

                > ul {
                    position: absolute;
                    top: 100%;
                    width: 200px;
                    background-color: $white;
                    left: 0;
                    z-index: 999;
                    box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(40px);
                    transition: all .5s ease-in-out;
                    padding: 10px 0px;
                    
                    li {
                        display: block;
                        a { 
                            display: block;                              
                            color: $primary;   
                            padding: 12px 25px;
                            
                            &:hover {
                                // color: $theme-color;
                            }
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
    }

    .header-right{
        .header-search{
            margin-right: 30px;
            span{
                color: $primary;
            }
        }
        .theme-btn{
            display: inline-block;
            padding: 10px 15px;
            background: $green;
            color: $white;
            border-radius: 3px;
            @include transition(0.4s);
            &:hover{
                background-color: $blue;
            }
        }
    }
}

.mobile-nav {
    position: fixed;
    right: -380px;
    top: 0;
    width: 320px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: right .5s ease-in;
    // background-color: $theme-color;
    padding: 20px;
    z-index: 9999999;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        right: 0px;
    }

    .close-nav {
      border: 0;
      background: transparent;
      color: #fff;
      border-radius: 30px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 10px;
    }

    /* Vertical Menu Style */
    .sidebar-nav {
        margin-top: 30px;
    }
    .sidebar-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent
    }
    .sidebar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu>li {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu a {
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all .3s ease-out;
        text-decoration: none;
        color: #fff;
        outline-width: 0;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sidebar-nav .metismenu ul a {
        padding: 10px 15px 10px 35px;
        position: relative;
        &::before {
            clear: both;
            display: block;
            content: "\f067";
            position: absolute;
            right: 0;
            top: 0;
        }
        &:hover {
            padding-left: 40px;
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            position: absolute;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            content: "";
            top: 50%;
            transition: all .3s ease-in-out;
            transform: translateY(-50%);
        }
    }
    .sidebar-nav .metismenu ul ul {
        list-style-type: circle !important;
    }
    .sidebar-nav .metismenu ul ul a {
        padding: 10px 15px 10px 45px;        
    }
    .metismenu .has-arrow {
        // background: $theme-dark;
    }

    .sidebar-nav .metismenu a:hover,
    .sidebar-nav .metismenu a:focus,
    .sidebar-nav .metismenu a:active {
        text-decoration: none;
        color: #fff;
        // background: $theme-dark;
    }
    .metismenu .has-arrow::after {
        position: absolute;
        content: '';
        width: 0.5em;
        height: 0.5em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: initial;
        right: 1em;
        transform: rotate(-45deg) translate(0, -50%);
        transform-origin: top;
        top: 50%;
        transition: all .3s ease-out;
    }
    .metismenu .active > .has-arrow::after, .metismenu .has-arrow[aria-expanded="true"]::after {
        transform: rotate(-135deg) translate(0, -50%);
    }

}


#hamburger {
    // color: $theme-color;
    font-size: 36px;
    line-height: 1;
    text-align: right;
    font-weight: 700;
    
    i {
        cursor: pointer;
    }
}

.action-bar {
    margin-top: 30px;
    padding-left: 20px;
    margin-right: 10px;

    a {
        color: #fff;
        display: block;
        margin-top: 12px;

        i {
            margin-right: 10px;
        }

        &.theme-btn {
            text-align: center;
        }
    }
}

/* ---------------------------------
    Offset Canvas Menu Style 
------------------------------------*/

.offset-menu {
	position: fixed;
	height: 100vh;
	top: 0;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    right: -30%;
    transition: all .5s ease-in-out;
    // background-color: $second-color;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .offset-menu-wrapper {
        width: 360px;
        padding: 80px 30px;
    }

    .theme-btn {
        // background-color: $theme-color;
        color: #fff;
    }

    .offset-menu-section {
        margin-top: 40px;
    
        a {
            margin-bottom: 10px;
        }
    
        ul {
            li {
                span {
                    margin-right: 10px;
                }
                margin-bottom: 5px;
            }
        }
    }
    
    #offset-menu-close-btn {
        position: fixed;
        right: 30px;
        font-size: 28px;
        transform: rotate(45deg);
        color: #fff;
        cursor: pointer;
        transition: all .2s ease-in-out;
        z-index: 9;
        top: 20px;

        &:hover {
            // color: $theme-color;
        }
    }

    .offset-menu-footer {
        margin-top: 35px;
    }

}


.search-box {
    width: 0;
    position: absolute;
    right: 0;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .4s ease-in-out;
    // box-shadow: $box-shadow;

    &.show {
        width: 320px;
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

    form {
        
        input {
            border: 0px;
            width: 100%;
            line-height: 1;
            padding: 0px 20px;
            // color: $theme-color;
            font-size: 16px;
            height: 60px;
            background-color: #fff;
        }

        button {
            border: 0px;
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            height: 60px;
            // background-color: $theme-color;
            color: #fff;
            text-align: center;
            padding: 0px 25px;
            font-size: 16px;
            transition: all .3s ease-in-out;

            &:hover {
                // background-color: $second-color;
                color: #fff;
            }
        }
    }
}