header {
    width: 100%;
    z-index: 9999; 
    // .header-top{
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 50px;
    //     z-index: 1030;
    //     position: fixed !important;
    //     padding: 10px 0px;
    //     background-color: $primary;
    //     @media (max-width:500px) {
    //         display: none;
    //     }
    //     .header_top_widget{
    //         display: flex;
    //         justify-content: space-between;
    //         .header_top_left{
    //             a{
    //                 color: $textcolor;
    //                 i{
    //                     margin-right: 5px;
    //                 }
    //             }
    //         }
    //         .header_top_right{
    //             ul{
    //                 >li{
    //                     float: left;
    //                     margin: 0px 5px;
    //                     a{
    //                         color: $textcolor;
    //                         @include transition(0.4s);
    //                         &:hover{
    //                             text-decoration: underline;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }  
    .main-header-wraper{
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1030;
        position: fixed;
        margin: 0 auto;
        padding: 10px 0px;
        @include transition(0.4s);
        background-color: $white;
    }
    .logo{
        img{
            max-width: 250px !important;
            @include transition(0.4s);
        }
        @media (max-width:768px) {
            img{
                max-width: 200px;
               }
        }
    }
    .main-menu {                         
        ul {
            line-height: 1;                   
            > li {
                display: inline-block;
                line-height: 1;

                > a {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: capitalize;
                    line-height: 1;
                    padding: 20px 15px;
                    overflow: hidden;   
                    color: $primary;                     
                }

                &:hover {

                > ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

                > ul {
                    position: absolute;
                    top: 100%;
                    width: 200px;
                    background-color: $white;
                    left: 0;
                    z-index: 999;
                    box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(40px);
                    transition: all .5s ease-in-out;
                    padding: 10px 0px;
                    
                    li {
                        display: block;
                        a { 
                            display: block;                              
                            color: $primary;   
                            padding: 12px 25px;
                            
                            &:hover {
                                // color: $theme-color;
                            }
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
    }

    .header-right{
        .user_widget{
            position: relative;
            .login_btn{
                color: $primary;
                font-size: 16px;
                cursor: pointer;
                margin-right: 20px;
            }
            ul {
                position: absolute;
                top: 100%;
                width: 120px;
                background-color: $white;
                left: 0;
                z-index: 999;
                box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                visibility: hidden;
                opacity: 0;
                transform: translateY(20px);
                transition: all .5s ease-in-out;
                padding: 10px;
                
                li {
                    display: block;
                    a { 
                        display: block;                              
                        color: $primary;   
                        padding:5px 0px;
                    }
                }
            }
            &:hover{
                ul{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .header-search{
            margin-right: 30px;
            span{
                color: $primary;
            }
        }
        .theme-btn{
            padding: 15px 20px;
            background: $green;
            color: $white;
            border-radius: 3px;
            @include transition(0.4s);
            &:hover{
                background-color: $blue;
            }
        }
        .header-btn-cta{
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    &.sticky{
        .main-header-wraper{
            .logo{
               img{
                max-width: 200px;
               }
            }
            
            padding: 5px 0px;
        }
    }
}

.mobile-nav {
    position: fixed;
    right: -380px;
    top: 0;
    width: 320px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: right .5s ease-in;
    background-color: $blue;
    padding: 20px;
    z-index: 9999999;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        right: 0px;
    }

    .close-nav {
      border: 0;
      background: transparent;
      color: #fff;
      border-radius: 30px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 10px;
    }
    .header-btn-cta{
        display: none;
        @media (max-width:768px) {
            display: block !important;
        }
    }
    /* Vertical Menu Style */
    .sidebar-nav {
        margin-top: 30px;
    }
    .sidebar-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent
    }
    .sidebar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu>li {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu a {
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all .3s ease-out;
        text-decoration: none;
        color: #fff;
        outline-width: 0;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sidebar-nav .metismenu ul a {
        padding: 10px 15px 10px 35px;
        position: relative;
        &::before {
            clear: both;
            display: block;
            content: "\f067";
            position: absolute;
            right: 0;
            top: 0;
        }
        &:hover {
            padding-left: 40px;
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            position: absolute;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            content: "";
            top: 50%;
            transition: all .3s ease-in-out;
            transform: translateY(-50%);
        }
    }
    .sidebar-nav .metismenu ul ul {
        list-style-type: circle !important;
    }
    .sidebar-nav .metismenu ul ul a {
        padding: 10px 15px 10px 45px;        
    }

    .sidebar-nav .metismenu a:hover,
    .sidebar-nav .metismenu a:focus,
    .sidebar-nav .metismenu a:active {
        text-decoration: none;
        color: #fff;
        // background: $theme-dark;
    }
    .metismenu .has-arrow::after {
        position: absolute;
        content: '';
        width: 0.5em;
        height: 0.5em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: initial;
        right: 1em;
        transform: rotate(-45deg) translate(0, -50%);
        transform-origin: top;
        top: 50%;
        transition: all .3s ease-out;
    }
    .metismenu .active > .has-arrow::after, .metismenu .has-arrow[aria-expanded="true"]::after {
        transform: rotate(-135deg) translate(0, -50%);
    }

}


#hamburger {
    color: $primary;
    font-size: 36px;
    line-height: 1;
    text-align: right;
    font-weight: 700;
    padding-left: 10px;
    i {
        cursor: pointer;
    }
}

.action-bar {
    margin-top: 30px;
    padding-left: 20px;
    margin-right: 10px;

    a {
        color: #fff;
        display: block;
        margin-top: 12px;

        i {
            margin-right: 10px;
        }

        &.theme-btn {
            text-align: center;
        }
    }
}
.header-gutter {
    min-height: 100px;
}

.header-search {
    position: relative;
    margin-right: 30px;
    align-items: center;
    display: inline-flex;

    @media (max-width: 575px) {
        margin-right: 15px;
    }

    .search-toggle {
        cursor: pointer;
        color: $primary;
    }

    .search-box {
        width: 0;
        left: 50%;
        border: 0;
        opacity: 0;
        z-index: 600;
        padding: 10px 20px;
        border-radius: 4px;
        visibility: hidden;
        position: absolute;
        background: #edf5ff;
        top: calc(100% + 20px);
        filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.16));
        transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1);
        @include transform(translateX(-50%));

        @media (min-width: 1200px) {
            top: calc(100% + 20px);
        }

        @media (max-width: 480px) {
           left: -285%;
           width: 280px;
        } 

        &:before {
            left: 0;
            right: 0;
            top: -5px;
            z-index: -1;
            content: "";
            width: 12px;
            height: 12px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            border-radius: 2px;
            background: #edf5ff;
            transform: rotate(45deg);

             @media (max-width: 480px) {
                right: -132px;
            }
        }

        .form-group {
            margin: 0;
            padding: 0;
            position: relative;

            &:before {
                left: 0;
                width: 0;
                right: 0;
                bottom: 0;
                content: "";
                height: 1px;
                margin-left: auto;
                background: #25415d;
                margin-right: auto;
                position: absolute;
                transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1);
            }

            .search-input {
                width: 100%;
                border: 0 !important;
                font-size: 16px !important;
                padding: 10px 0 !important;
                line-height: 22px !important;
                box-shadow: none !important;
                padding-right: 22px !important;
                color: $primary !important;
                background: transparent !important;
                @include border-radius(0 !important);
                @include placeholder($primary, 16px, 400)
            }

            .search-submit {
                right: 0;
                top: auto;
                border: 0;
                bottom: auto;
                font-size: 16px;
                color: $primary;
                position: absolute;
                background: transparent;
                @include transition(all 0.3s ease);

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    &.show {
        .search-toggle {
            color: $primary;
        }

        .search-box { 
            opacity: 1;
            width: 530px;
            visibility: visible;

            @media (max-width: 767px) {
                width: 450px;   
            }

            @media (max-width: 575px) {
                width: 400px;   
            }

            @media (max-width: 575px) {
                width: 380px;   
            }

            @media (max-width: 480px) {
                width: 280px;   
            }

            .form-group:before {
                width: 100%;
            }
        }
    }
}