/* ----------------------------------
    Template Helps Classes - Styles
 ------------------------------------ */
.text-white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
        color: #fff !important;
    }
}
/* background */
.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.bg-center {
    background-position: center;
}

.bg-contain {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: left;
}

.bg-right {
    background-repeat: no-repeat;
    background-position: right;
}

.bg-left {
    background-repeat: no-repeat;
    background-position: left;
}

.bg-bottom {
    background-repeat: no-repeat;
    background-position: bottom;
}

.bg-top {
    background-repeat: no-repeat;
    background-position: top;
}

.bg-100 {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.mmb-100 {
    margin-bottom: -100px;
}
.mmb-80 {
    margin-bottom: -80px;
}

.lr-9 {
    margin-left: -9px;
    margin-right: -9px;

    [class*="col"] {
        padding-left: 9px;
        padding-right: 9px;
    }
}

.bg-overlay {
    position: relative;
    z-index: 1;    

    &::before {
        position: absolute;
        left: 0;
        content: "";
        top: 0;        
        width: 100%;
        height: 100%;
        opacity: .8;
        background-color: #000;
        z-index: -1;
    }
}

.fix {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.shape {
    position: absolute;

    @media (max-width: 1191px) {
        display: none;
        opacity: 0;
    }
}

.navbar-brand {
    padding: 0;
    margin-right: 0;
}

#scrollUp {
    // background-color: $theme-color;
    border-radius: 50%;
    bottom: 20px;
    color: #ffffff;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    right: 20px;
    text-align: center;
    width: 40px;
    box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
    font-weight: 400;
    @include transition(.4s);
}

@media only screen and (max-width: 991px) {
    #scrollUp {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        right: 30px;
        width: 30px;
    }
}

button {
    border: none;
}
section {
    position: relative;
}

@keyframes sticky {
    0% {
        opacity: 0;
        margin-top: -120px;
    }  
    50% {
        opacity: 0;
        margin-top: -60px;
    }  
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
.equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
} 

.hidden-fix {
    overflow: hidden;
}

.d-none-mobile {
    @media (max-width: 414px) {
        display: none !important;
    }
}

.overlay {
    transition: all .2s ease-in-out;
    width: 40%;
    opacity: 0;
    visibility: hidden;

    &.active {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: #000;
        z-index: 99;
        opacity: .5;
        visibility: visible;         
    }
}
.dark-bg {
    background-color: #000;

    h1, h2, h3, h4, h5, h6, a {
        color: $white;
    }

    p {
        color: #cacaca;
    }
}

.no-padding {
    .col-12 {
        padding: 0;

        @media (max-width: 991px) {
            padding: 0px 15px;
        }
    }
}

header, footer {
    ul, li {
        list-style: none;
    }
}