/* ----------------------------------
   Hero Section - Styles
------------------------------------ */

.hero_wrapper{
  background: $primary;
  padding: 25px 0px;
  z-index: 1;
 }
.banner_title{
    h3{
      font-size: 27px;
      font-weight: bold;
      color: $white;
      margin-bottom: 10px;
    }
    h5{
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      color: $textcolor;
      margin-bottom: 10px;
    }
    h2{
      font-size: 35px;
      font-weight: bold;
      color: rgb(200 210 38);
    }
    ul{
      >li{
        position: relative;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: $textcolor;
        i{
          margin-right: 10px;
        }
      }
    }
    a{
      margin: 20px 0px;
      display: inline-block;
      padding: 10px 17px;
      color: $white;
      border-radius: 6px;
      @include transition(0.4s);
      background-color: $base;
      @media (max-width:500px) {
        margin-top: 20px;
        margin-bottom: 10px;
       }
      &:last-child{
        background-color: #DC3545;
        margin-left: 20px;
        @media (max-width:500px) {
         margin-top: 10px;
         margin-bottom: 20px;
         margin-left:0px;
        }
      }
      &:hover{
        &:last-child{
          background-color: #C82333;
        }
        background-color: #0062CC;
      }
    }
}

