.section-padding{
    padding: 50px 0px;
}
/* ----------------------------------
	Card Section Styles
 ------------------------------------ */
.single_feaured_item{
    margin-top: 30px;
    position: relative;
    &.single_feaured_item_3{
        .popular-causes__content{
            margin-top: 0 !important;
            border-radius: 10px !important;
        }
        button{
            width: 100%;
            padding: 10px 0px;
            margin: 5px 0px;
            border-radius: 6px;
            background-color: $primary-2;
            font-weight: bold;
            color: $white;
            transition: all 0.4s ease-in-out;
            box-shadow: $box-shadow;
            &:hover{
                background-color: #fff;
                color: $primary-2;
            }
        }
    }
    .popular-causes__img{
        position: relative;
        width: 100%;
        height: 350px;
        border-radius: 3px;
        z-index: -1;
    }
    .popular-causes__content{
        z-index: 3;
        margin-top: -30px;
        padding: 30px;
        @media (max-width:700px) {
            padding: 20px;
        }
        width: 100%;
        border-radius: 30px;
        background-color: $primary;
        .popular-causes__title{
            span{
                color: $white;
                font-size: 16px;
                font-weight: 800;
            }
            h3{
                font-size: 30px;
                line-height: 45px;
                color: $white;
            }
        }
        .popular-causes__progress{
            
            .bar {
                position: relative;
                width: 100%;
                height: 7px;
                background: #eae5e3;
                border-radius: 5px;
                margin-bottom: 12px;
            }
            .bar-inner {
                position: relative;
                display: block;
                width: 0px;
                height: 7px;
                margin: 10px 0px;
                border-radius: 5px;
                background: $pink;
            }
            .count-text {
                position: absolute;
                right: 0px;
                bottom: 12px;
                color: $white;
                line-height: 26px;
                font-size: 16px;
                text-align: center;
                opacity: 1;
                transition: all 500ms ease;
            }
            .popular-causes__goals{
                p{
                    color: $white;
                }
            }
        }
        p{
            color: $white;
        }
        .theme-btn{
            margin: 20px 0px 0px 0px ;
            text-transform: capitalize;
            border-radius: 6px;
            border: 2px solid $green;
            background-color: $green;
            &:hover{
                color: $white;
                border: 2px solid $white;
                background: transparent;
            }
        }
    }
}

/* ----------------------------------
	browse-campaign Styles
 ------------------------------------ */
.browse-campaign{
    .browse_widget{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:550px) {
            display: block !important;
        }
    }
    background-color: $primary;
    h4{
        margin-bottom: 0;
        font-weight: bold;
        font-size: 30px;
        color: $white;
    }
    a{
        color: $white;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 10px;
        @include transition(0.4s);
        &:hover{
            color: $primary-2;
            text-decoration: underline;
        }
    }
    span{
        color: #eeeeee;
        font-weight: 600;
        font-size: 16px;
        padding: 0px 10px;
        position: relative;
        &::after{
            content: '';
            clear: both;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(20deg);
        }
    }
}

/* ----------------------------------
	become_wrapper Styles
 ------------------------------------ */

 .become_content{
    h5{
        color: $green;
        font-size: 16px;
    }
    h4{
        font-size: 22px;
        font-weight: bold;
    }
    ul{
        margin: 10px 0px 10px 20px;
       
        >li{
            list-style: circle;
            margin: 5px 0px;
        }
    }
    p{
        margin: 10px 0px;
    }
    a{
        color: $primary-2;
        &:hover{
            text-decoration: underline;
        }
    }
 }


 .progress{
    height: 20px;
    background: #cdcdcd;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    overflow: visible;
    .progress-bar{
        position: relative;
        animation: animate-positive 2s;
        background: #44ad66;
        border-right: 4px solid rgb(255, 255, 255);
    }
    .progress-value{
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        position: absolute;
        top: -30px;
        right: -25px;
    }
}

.campaign-status{
    ul{
        >li{
            span{
                font-size: 18px;
                font-weight: bold;
            }
            border-bottom: 1px solid rgb(221 221 221);
            padding: 10px 0px;
        }
    }
}
.comment{
    input[type="submit"]{
        border: none;
        padding: 10px 20px;
        color: $white;
        background-color: $primary-2;
        border-radius: 4px 4px 4px 4px !important;
        &:hover{
            background-color: $primary;
        }
    }
    textarea{
        border-radius: 4px 4px 4px 4px !important;
    }
}

.icons{
    a{
        
        i{
            font-size: 30px;
            color: $primary;
            margin: 0px 3px;
            @include transition(0.4s);
        }
        &:hover{
            i{
                color: $primary-2;
            }
            
        }
    }
}

#fixd {
    position: sticky;
    top: 20%;
}


.icons_link{
    .icons{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241 241 241);
        color: $primary;
    }
    .name_authoe{
        margin-left: 10px;
        h6{
            color: $white;
            margin-bottom: 5px;
        }
        strong{
            font-size: 15px;
            font-weight: bold;
            color: $white !important;
            a{
                margin-left: 5px;
                font-weight: 600;
            }
        }
    }
}


.slick-dots{
    display: none !important;
}
  
.overly_popup{
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgb(0 0 0 / 70%);
    padding-top: 130px;
    .popup{
        position: relative;
        padding: 50px 30px 30px 30px;
        border-radius: 0.25rem;
        height: 80%;
        width: 35rem;
        background-color: #fff;
        margin: 0% auto;
        max-width: 100%;
        max-height: 100%;
        .head_popup{
            position: absolute;
            top: 20px;
            right: 20px;
            i{
                font-size: 20px;
                padding: 10px 13px;
                background-color: transparent;
                border-radius: 50%;
                color: $black;
                cursor: pointer;
                &:hover{
                    background-color: $textcolor;
                }
            }
        }
        .content{
            overflow: auto ;
            h4{
                font-size: 25px;
                color: $primary;
                font-weight: bold;
                line-height: 40px;
                margin-bottom: 10px;
            }
            p{
                color: $primary;
                margin-bottom: 10px;
            }
        }
        .icon{
            margin: 20px 0px;
            a{
                &:hover{
                    i{
                        color: $primary-2;
                    }
                }
            }
            i{
                color: $primary;
                font-size: 30px;
            }
            p{
                color: $primary;
            }
        }
        .copy_input{
            margin: 20px 0px;
            form{
                .input_element{
                    position: relative;
                    border: 1px solid $textcolor;
                    width: 80%;
                    border-radius: 6px;
                    input{
                        border: none;
                        height: 50px;
                        width: 100%;
                        padding: 0px 20px 0px 20px;
                    }
                    p{
                        background-color: $white;
                        position: absolute;
                        top: -13px;
                        left: 10px;
                    }
                }
                input[type="submit"]{
                    padding: 0px 20px 0px 20px;
                    margin-left: 20px;
                    border: none;
                    background-color: $primary-2;
                    border-radius: 6px;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
        .icon_link{
            padding: 20px 0px;
            background-color: #FBF8F6;
            border-radius: 6px;
            span{
                padding-bottom: 20px;
                strong{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            a{
                margin: 10px;
                i{
                    font-size: 30px;
                    color: $secondary;
                }
            }
        }
    }
    &.show-2{
        visibility: visible;
        opacity: 1;
    }
}

.overly_popup_2{
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgb(0 0 0 / 70%);
    padding-top: 130px;
    overflow: auto;
    .popup{
        position: relative;
        padding: 50px 30px 30px 30px;
        border-radius: 0.25rem;
        height: 80%;
        width: 35rem;
        background-color: #fff;
        margin: 0% auto;
        max-width: 100%;
        max-height: 100%;
        .head_popup_2{
            position: absolute;
            top: 20px;
            right: 20px;
            i{
                font-size: 20px;
                padding: 10px 13px;
                background-color: transparent;
                border-radius: 50%;
                color: $black;
                cursor: pointer;
                &:hover{
                    background-color: $textcolor;
                }
            }
        }
        .content{
            overflow: auto;
            margin-top: 20px;
            .icons_link{
                background-color: #FBF8F6;
                padding: 0px 20px;
                border-radius: 6px;
                color: $primary;
                .name_authoe{
                    h6{
                        margin-bottom: 5px;
                        color: $primary;
                        font-size: 22px;
                    }
                    strong{
                        font-size: 18px;
                        color: $primary !important;
                        a{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    &.show-3{
        visibility: visible;
        opacity: 1;
    }
}

.overly_popup_3{
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgb(0 0 0 / 70%);
    padding-top: 130px;
    overflow: auto;
    .popup{
        position: relative;
        padding: 50px 30px 30px 30px;
        border-radius: 0.25rem;
        height: 80%;
        width: 35rem;
        background-color: #fff;
        margin: 0% auto;
        max-width: 100%;
        max-height: 100%;
        .head_popup_3{
            position: absolute;
            top: 20px;
            right: 20px;
            i{
                font-size: 20px;
                padding: 10px 13px;
                background-color: transparent;
                border-radius: 50%;
                color: $black;
                cursor: pointer;
                &:hover{
                    background-color: $textcolor;
                }
            }
        }
        .content{
            overflow: auto;
            margin-top: 20px;
            .icons_link{
                background-color: #FBF8F6;
                padding: 0px 20px;
                border-radius: 6px;
                color: $primary;
                .name_authoe{
                    h6{
                        margin-bottom: 5px;
                        color: $primary;
                        font-size: 22px;
                    }
                    strong{
                        font-size: 18px;
                        color: $primary !important;
                        a{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    &.show-4{
        visibility: visible;
        opacity: 1;
    }
}
.my-profile_wrapper{
    background-color: #2e2a5c41;
    h4{
        color: $primary;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 25px;
    }
    .my-account{
        .author_img{
            width: 100px;
            height: 100px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .dash_bord{
        ul{
            display: flex;
            flex-direction: column;
            li{
                list-style: none;
                display: block;
                a{
                    
                    padding: 10px;
                    border-bottom: 1px solid $textcolor;
                    font-size: 16px;
                    font-weight: 600;
                    color: $primary;
                    padding-left: 10px;
                    cursor: pointer;
                    @include transition(0.4s);
                }
            }
            .active{
                color: $primary;
                font-weight: 600;
            }
        }
        .theme-btn{
            margin-top: 30px;
        }
    }
    .dash_bord_content{
        &.content_one{
            table{
                td, th {
                    text-align: left;
                    padding: 5px 10px;
                    border:1px solid #333;
                }
            }
        }
    }
    .active{
        display: block;
    }
    .hide{
        display: none;
    }
}

.single_card_item{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    .popular__img{
        height: auto;
        width: 100px;
        margin: 0 auto;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
    h3{
        @media (max-width:768px){
            margin-top: 20px;
        }
    }
    .popular-causes__progress{
        .single_bar{
            display: flex;
            align-items: center;
            @media (max-width:768px){
               justify-content: center;
            }
            p{
                &:last-child{
                    margin-left: 30px;
                }
            }
        }
        .bar {
            position: relative;
            width: 100%;
            height: 7px;
            background: #eae5e3;
            border-radius: 5px;
            margin-bottom: 12px;
        }
        .bar-inner {
            position: relative;
            display: block;
            width: 0px;
            height: 7px;
            margin: 10px 0px;
            border-radius: 5px;
            background: $pink;
        }
    }
}
.align-items-center_2{
    display: flex;
    align-items: center !important;
    @media (max-width:768px){
        display: block !important;
        text-align: center;
    }
}
.mt-40{
    margin-top: 40px;
}

.heading_pera{
    p{
        font-size: 14px;
        line-height: 31px;
        color: $blue;
        max-width: 800px;
        margin: 0 auto;
    }
}

.popular-causes{
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: $white;
    background-color: $gray;
}
.popular-causes{
    .like_icon{
        i{
            font-size: 40px;
            color: $green;
        }
    }
    h4{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0;
    }
    span{
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
}


