@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input::-webkit-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

::-webkit-input-placeholder {
  color: #555;
  opacity: 1; /* Firefox */
}

::-moz-placeholder {
  color: #555;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #555;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: #555;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #555;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #555;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #555;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0px;
}

form {
  position: relative;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #000;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  position: relative;
}

a,
button {
  position: relative;
}
a:hover, a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need
 -------------------------------------------------------------------- */
/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #53545A;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #232323;
  text-transform: capitalize;
}

h1 {
  font-size: 60px;
  line-height: 1.17;
}
@media (max-width: 991px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 30px;
  line-height: 145%;
}

h3 {
  font-size: 24px;
  line-height: 145%;
}

h4 {
  font-size: 22px;
  line-height: 145%;
}

h5 {
  font-size: 20px;
  line-height: 145%;
}

h6 {
  font-size: 18px;
  line-height: 145%;
}

a {
  text-decoration: none;
  font-weight: 600;
  outline: none !important;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Nunito", sans-serif;
  color: #DDDDDD;
}

p {
  margin: 0px;
}

.font-oswald h1, .font-oswald h2, .font-oswald h3, .font-oswald h4, .font-oswald h5, .font-oswald h6, .font-oswald a {
  font-family: "Oswald", sans-serif;
}

.font-cambria h1, .font-cambria h2, .font-cambria h3, .font-cambria h4, .font-cambria h5, .font-cambria h6, .font-cambria a {
  font-family: "Cambria", sans-serif;
}

.section-padding {
  padding: 50px 0px;
}

/* ----------------------------------
	Card Section Styles
 ------------------------------------ */
.single_feaured_item {
  margin-top: 30px;
  position: relative;
}
.single_feaured_item.single_feaured_item_3 .popular-causes__content {
  margin-top: 0 !important;
  border-radius: 10px !important;
}
.single_feaured_item.single_feaured_item_3 button {
  width: 100%;
  padding: 10px 0px;
  margin: 5px 0px;
  border-radius: 6px;
  background-color: #37949C;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.single_feaured_item.single_feaured_item_3 button:hover {
  background-color: #fff;
  color: #37949C;
}
.single_feaured_item .popular-causes__img {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 3px;
  z-index: -1;
}
.single_feaured_item .popular-causes__content {
  z-index: 3;
  margin-top: -30px;
  padding: 30px;
  width: 100%;
  border-radius: 30px;
  background-color: #2E2A5C;
}
@media (max-width: 700px) {
  .single_feaured_item .popular-causes__content {
    padding: 20px;
  }
}
.single_feaured_item .popular-causes__content .popular-causes__title span {
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
}
.single_feaured_item .popular-causes__content .popular-causes__title h3 {
  font-size: 30px;
  line-height: 45px;
  color: #FFF;
}
.single_feaured_item .popular-causes__content .popular-causes__progress .bar {
  position: relative;
  width: 100%;
  height: 7px;
  background: #eae5e3;
  border-radius: 5px;
  margin-bottom: 12px;
}
.single_feaured_item .popular-causes__content .popular-causes__progress .bar-inner {
  position: relative;
  display: block;
  width: 0px;
  height: 7px;
  margin: 10px 0px;
  border-radius: 5px;
  background: #FF681B;
}
.single_feaured_item .popular-causes__content .popular-causes__progress .count-text {
  position: absolute;
  right: 0px;
  bottom: 12px;
  color: #FFF;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.single_feaured_item .popular-causes__content .popular-causes__progress .popular-causes__goals p {
  color: #FFF;
}
.single_feaured_item .popular-causes__content p {
  color: #FFF;
}
.single_feaured_item .popular-causes__content .theme-btn {
  margin: 20px 0px 0px 0px;
  text-transform: capitalize;
  border-radius: 6px;
  border: 2px solid #3FAD48;
  background-color: #3FAD48;
}
.single_feaured_item .popular-causes__content .theme-btn:hover {
  color: #FFF;
  border: 2px solid #FFF;
  background: transparent;
}

/* ----------------------------------
	browse-campaign Styles
 ------------------------------------ */
.browse-campaign {
  background-color: #2E2A5C;
}
.browse-campaign .browse_widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 550px) {
  .browse-campaign .browse_widget {
    display: block !important;
  }
}
.browse-campaign h4 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}
.browse-campaign a {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.browse-campaign a:hover {
  color: #37949C;
  text-decoration: underline;
}
.browse-campaign span {
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 10px;
  position: relative;
}
.browse-campaign span::after {
  content: "";
  clear: both;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

/* ----------------------------------
	become_wrapper Styles
 ------------------------------------ */
.become_content h5 {
  color: #3FAD48;
  font-size: 16px;
}
.become_content h4 {
  font-size: 22px;
  font-weight: bold;
}
.become_content ul {
  margin: 10px 0px 10px 20px;
}
.become_content ul > li {
  list-style: circle;
  margin: 5px 0px;
}
.become_content p {
  margin: 10px 0px;
}
.become_content a {
  color: #37949C;
}
.become_content a:hover {
  text-decoration: underline;
}

.progress {
  height: 20px;
  background: #cdcdcd;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  overflow: visible;
}
.progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
          animation: animate-positive 2s;
  background: #44ad66;
  border-right: 4px solid rgb(255, 255, 255);
}
.progress .progress-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: -30px;
  right: -25px;
}

.campaign-status ul > li {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px 0px;
}
.campaign-status ul > li span {
  font-size: 18px;
  font-weight: bold;
}

.comment input[type=submit] {
  border: none;
  padding: 10px 20px;
  color: #FFF;
  background-color: #37949C;
  border-radius: 4px 4px 4px 4px !important;
}
.comment input[type=submit]:hover {
  background-color: #2E2A5C;
}
.comment textarea {
  border-radius: 4px 4px 4px 4px !important;
}

.icons a i {
  font-size: 30px;
  color: #2E2A5C;
  margin: 0px 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icons a:hover i {
  color: #37949C;
}

#fixd {
  position: sticky;
  top: 20%;
}

.icons_link .icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(241, 241, 241);
  color: #2E2A5C;
}
.icons_link .name_authoe {
  margin-left: 10px;
}
.icons_link .name_authoe h6 {
  color: #FFF;
  margin-bottom: 5px;
}
.icons_link .name_authoe strong {
  font-size: 15px;
  font-weight: bold;
  color: #FFF !important;
}
.icons_link .name_authoe strong a {
  margin-left: 5px;
  font-weight: 600;
}

.slick-dots {
  display: none !important;
}

.overly_popup {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 130px;
}
.overly_popup .popup {
  position: relative;
  padding: 50px 30px 30px 30px;
  border-radius: 0.25rem;
  height: 80%;
  width: 35rem;
  background-color: #fff;
  margin: 0% auto;
  max-width: 100%;
  max-height: 100%;
}
.overly_popup .popup .head_popup {
  position: absolute;
  top: 20px;
  right: 20px;
}
.overly_popup .popup .head_popup i {
  font-size: 20px;
  padding: 10px 13px;
  background-color: transparent;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.overly_popup .popup .head_popup i:hover {
  background-color: #DDDDDD;
}
.overly_popup .popup .content {
  overflow: auto;
}
.overly_popup .popup .content h4 {
  font-size: 25px;
  color: #2E2A5C;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
}
.overly_popup .popup .content p {
  color: #2E2A5C;
  margin-bottom: 10px;
}
.overly_popup .popup .icon {
  margin: 20px 0px;
}
.overly_popup .popup .icon a:hover i {
  color: #37949C;
}
.overly_popup .popup .icon i {
  color: #2E2A5C;
  font-size: 30px;
}
.overly_popup .popup .icon p {
  color: #2E2A5C;
}
.overly_popup .popup .copy_input {
  margin: 20px 0px;
}
.overly_popup .popup .copy_input form .input_element {
  position: relative;
  border: 1px solid #DDDDDD;
  width: 80%;
  border-radius: 6px;
}
.overly_popup .popup .copy_input form .input_element input {
  border: none;
  height: 50px;
  width: 100%;
  padding: 0px 20px 0px 20px;
}
.overly_popup .popup .copy_input form .input_element p {
  background-color: #FFF;
  position: absolute;
  top: -13px;
  left: 10px;
}
.overly_popup .popup .copy_input form input[type=submit] {
  padding: 0px 20px 0px 20px;
  margin-left: 20px;
  border: none;
  background-color: #37949C;
  border-radius: 6px;
  color: #FFF;
  font-weight: bold;
}
.overly_popup .popup .icon_link {
  padding: 20px 0px;
  background-color: #FBF8F6;
  border-radius: 6px;
}
.overly_popup .popup .icon_link span {
  padding-bottom: 20px;
}
.overly_popup .popup .icon_link span strong {
  font-size: 18px;
  font-weight: bold;
}
.overly_popup .popup .icon_link a {
  margin: 10px;
}
.overly_popup .popup .icon_link a i {
  font-size: 30px;
  color: #F47102;
}
.overly_popup.show-2 {
  visibility: visible;
  opacity: 1;
}

.overly_popup_2 {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 130px;
  overflow: auto;
}
.overly_popup_2 .popup {
  position: relative;
  padding: 50px 30px 30px 30px;
  border-radius: 0.25rem;
  height: 80%;
  width: 35rem;
  background-color: #fff;
  margin: 0% auto;
  max-width: 100%;
  max-height: 100%;
}
.overly_popup_2 .popup .head_popup_2 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.overly_popup_2 .popup .head_popup_2 i {
  font-size: 20px;
  padding: 10px 13px;
  background-color: transparent;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.overly_popup_2 .popup .head_popup_2 i:hover {
  background-color: #DDDDDD;
}
.overly_popup_2 .popup .content {
  overflow: auto;
  margin-top: 20px;
}
.overly_popup_2 .popup .content .icons_link {
  background-color: #FBF8F6;
  padding: 0px 20px;
  border-radius: 6px;
  color: #2E2A5C;
}
.overly_popup_2 .popup .content .icons_link .name_authoe h6 {
  margin-bottom: 5px;
  color: #2E2A5C;
  font-size: 22px;
}
.overly_popup_2 .popup .content .icons_link .name_authoe strong {
  font-size: 18px;
  color: #2E2A5C !important;
}
.overly_popup_2 .popup .content .icons_link .name_authoe strong a {
  color: #2E2A5C;
}
.overly_popup_2.show-3 {
  visibility: visible;
  opacity: 1;
}

.overly_popup_3 {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 130px;
  overflow: auto;
}
.overly_popup_3 .popup {
  position: relative;
  padding: 50px 30px 30px 30px;
  border-radius: 0.25rem;
  height: 80%;
  width: 35rem;
  background-color: #fff;
  margin: 0% auto;
  max-width: 100%;
  max-height: 100%;
}
.overly_popup_3 .popup .head_popup_3 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.overly_popup_3 .popup .head_popup_3 i {
  font-size: 20px;
  padding: 10px 13px;
  background-color: transparent;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.overly_popup_3 .popup .head_popup_3 i:hover {
  background-color: #DDDDDD;
}
.overly_popup_3 .popup .content {
  overflow: auto;
  margin-top: 20px;
}
.overly_popup_3 .popup .content .icons_link {
  background-color: #FBF8F6;
  padding: 0px 20px;
  border-radius: 6px;
  color: #2E2A5C;
}
.overly_popup_3 .popup .content .icons_link .name_authoe h6 {
  margin-bottom: 5px;
  color: #2E2A5C;
  font-size: 22px;
}
.overly_popup_3 .popup .content .icons_link .name_authoe strong {
  font-size: 18px;
  color: #2E2A5C !important;
}
.overly_popup_3 .popup .content .icons_link .name_authoe strong a {
  color: #2E2A5C;
}
.overly_popup_3.show-4 {
  visibility: visible;
  opacity: 1;
}

.my-profile_wrapper {
  background-color: rgba(46, 42, 92, 0.2549019608);
}
.my-profile_wrapper h4 {
  color: #2E2A5C;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 25px;
}
.my-profile_wrapper .my-account .author_img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.my-profile_wrapper .my-account .author_img img {
  width: 100%;
  height: 100%;
}
.my-profile_wrapper .dash_bord ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.my-profile_wrapper .dash_bord ul li {
  list-style: none;
  display: block;
}
.my-profile_wrapper .dash_bord ul li a {
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  font-weight: 600;
  color: #2E2A5C;
  padding-left: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.my-profile_wrapper .dash_bord ul .active {
  color: #2E2A5C;
  font-weight: 600;
}
.my-profile_wrapper .dash_bord .theme-btn {
  margin-top: 30px;
}
.my-profile_wrapper .dash_bord_content.content_one table td, .my-profile_wrapper .dash_bord_content.content_one table th {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #333;
}
.my-profile_wrapper .active {
  display: block;
}
.my-profile_wrapper .hide {
  display: none;
}

.single_card_item {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.single_card_item .popular__img {
  height: auto;
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.single_card_item .popular__img img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .single_card_item h3 {
    margin-top: 20px;
  }
}
.single_card_item .popular-causes__progress .single_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .single_card_item .popular-causes__progress .single_bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.single_card_item .popular-causes__progress .single_bar p:last-child {
  margin-left: 30px;
}
.single_card_item .popular-causes__progress .bar {
  position: relative;
  width: 100%;
  height: 7px;
  background: #eae5e3;
  border-radius: 5px;
  margin-bottom: 12px;
}
.single_card_item .popular-causes__progress .bar-inner {
  position: relative;
  display: block;
  width: 0px;
  height: 7px;
  margin: 10px 0px;
  border-radius: 5px;
  background: #FF681B;
}

.align-items-center_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
@media (max-width: 768px) {
  .align-items-center_2 {
    display: block !important;
    text-align: center;
  }
}

.mt-40 {
  margin-top: 40px;
}

/* ----------------------------------
    Template Helps Classes - Styles
 ------------------------------------ */
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white a {
  color: #fff !important;
}

/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-center {
  background-position: center;
}

.bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: left;
}

.bg-right {
  background-repeat: no-repeat;
  background-position: right;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: left;
}

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-top {
  background-repeat: no-repeat;
  background-position: top;
}

.bg-100 {
  background-size: 100% 100%;
}

.mmb-100 {
  margin-bottom: -100px;
}

.mmb-80 {
  margin-bottom: -80px;
}

.lr-9 {
  margin-left: -9px;
  margin-right: -9px;
}
.lr-9 [class*=col] {
  padding-left: 9px;
  padding-right: 9px;
}

.bg-overlay {
  position: relative;
  z-index: 1;
}
.bg-overlay::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #000;
  z-index: -1;
}

.fix {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.shape {
  position: absolute;
}
@media (max-width: 1191px) {
  .shape {
    display: none;
    opacity: 0;
  }
}

.navbar-brand {
  padding: 0;
  margin-right: 0;
}

#scrollUp {
  border-radius: 50%;
  bottom: 20px;
  color: #ffffff;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  right: 20px;
  text-align: center;
  width: 40px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
          box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 991px) {
  #scrollUp {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    right: 30px;
    width: 30px;
  }
}
button {
  border: none;
}

section {
  position: relative;
}

@-webkit-keyframes sticky {
  0% {
    opacity: 0;
    margin-top: -120px;
  }
  50% {
    opacity: 0;
    margin-top: -60px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes sticky {
  0% {
    opacity: 0;
    margin-top: -120px;
  }
  50% {
    opacity: 0;
    margin-top: -60px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equal > [class*=col-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden-fix {
  overflow: hidden;
}

@media (max-width: 414px) {
  .d-none-mobile {
    display: none !important;
  }
}

.overlay {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 40%;
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #000;
  z-index: 99;
  opacity: 0.5;
  visibility: visible;
}

.dark-bg {
  background-color: #000;
}
.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg a {
  color: #FFF;
}
.dark-bg p {
  color: #cacaca;
}

.no-padding .col-12 {
  padding: 0;
}
@media (max-width: 991px) {
  .no-padding .col-12 {
    padding: 0px 15px;
  }
}

header ul, header li, footer ul, footer li {
  list-style: none;
}

/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd, .theme-btn {
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
}

.btn {
  border: 0;
  background: transparent;
  border-radius: 0;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.theme-btn {
  color: #FFF;
  padding: 15px 30px;
  background-color: #231b82;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media (max-width: 991px) {
  .theme-btn {
    padding: 16px 30px 14px;
  }
}
@media (max-width: 767px) {
  .theme-btn {
    padding: 14px 28px 12px;
  }
}
@media (max-width: 580px) {
  .theme-btn {
    padding: 18px 35px 15px;
  }
}
@media (max-width: 480px) {
  .theme-btn {
    padding: 16px 30px 14px;
    font-size: 15px;
  }
}
.theme-btn i {
  margin-right: 10px;
}
.theme-btn:hover {
  background: #3FAD48;
  color: #FFF;
}

.login_btn, .search-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.popup_btn a {
  padding: 10px 25px;
  border-radius: 6px;
  background-color: #37949C;
  font-size: 16px;
  color: #FFF;
}
.popup_btn a:nth-child(2) {
  margin-left: 10px;
}
.popup_btn a:nth-child(2) i {
  margin-right: 10px;
}
.popup_btn a:hover {
  background-color: #DDDDDD;
  color: #37949C;
}

/* ----------------------------------
    Template Section Styles
 ------------------------------------*/
header {
  width: 100%;
  z-index: 9999;
}
header .main-header-wraper {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
  position: fixed;
  margin: 0 auto;
  padding: 10px 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header .logo img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 400px) {
  header .logo img {
    max-width: 180px;
  }
}
header .main-menu ul {
  line-height: 1;
}
header .main-menu ul > li {
  display: inline-block;
  line-height: 1;
}
header .main-menu ul > li > a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
  padding: 15px 10px;
  overflow: hidden;
  color: #2E2A5C;
}
header .main-menu ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header .main-menu ul > li > ul {
  position: absolute;
  top: 100%;
  width: 200px;
  background-color: #FFF;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px 0px;
}
header .main-menu ul > li > ul li {
  display: block;
}
header .main-menu ul > li > ul li a {
  display: block;
  color: #2E2A5C;
  padding: 12px 25px;
}
header .main-menu ul > li > ul ul {
  left: 100%;
  top: 0;
}
header .header-right .user_widget {
  position: relative;
}
header .header-right .user_widget .login_btn {
  color: #2E2A5C;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
}
header .header-right .user_widget .drop {
  position: absolute;
  top: 100%;
  width: 160px;
  background-color: #FFF;
  left: 0;
  display: none;
  z-index: 999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px;
}
header .header-right .user_widget .drop li {
  display: block;
}
header .header-right .user_widget .drop li a {
  display: block;
  color: #2E2A5C;
  padding: 5px 0px;
}
header .header-right .header-search {
  margin-right: 15px;
}
@media (max-width: 500px) {
  header .header-right .header-search {
    display: none;
  }
}
header .header-right .header-search span {
  color: #2E2A5C;
}
header .header-right .theme-btn {
  padding: 15px 20px;
  background: #3FAD48;
  color: #FFF;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .header-right .theme-btn:hover {
  background-color: #4FA2FF;
}
@media (max-width: 768px) {
  header .header-right .header-btn-cta {
    display: none;
  }
}
header.sticky .main-header-wraper {
  padding: 5px 0px;
}
header.sticky .main-header-wraper .logo img {
  max-width: 200px;
}

.mobile-nav {
  position: fixed;
  right: -380px;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
  background-color: #2E2A5C;
  padding: 20px;
  z-index: 9999999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  /* Vertical Menu Style */
}
.mobile-nav.show {
  right: 0px;
}
.mobile-nav .close-nav {
  border: 0;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.mobile-nav .header-btn-cta {
  display: none;
}
@media (max-width: 768px) {
  .mobile-nav .header-btn-cta {
    display: block !important;
  }
}
.mobile-nav .sidebar-nav {
  margin-top: 30px;
}
.mobile-nav .sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}
.mobile-nav .sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #fff;
  outline-width: 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mobile-nav .sidebar-nav .metismenu ul a {
  padding: 10px 15px 10px 35px;
  position: relative;
}
.mobile-nav .sidebar-nav .metismenu ul a::before {
  clear: both;
  display: block;
  content: "\f067";
  position: absolute;
  right: 0;
  top: 0;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover {
  padding-left: 40px;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover::before {
  background-color: #fff;
}
.mobile-nav .sidebar-nav .metismenu ul a::before {
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-nav .sidebar-nav .metismenu ul ul {
  list-style-type: circle !important;
}
.mobile-nav .sidebar-nav .metismenu ul ul a {
  padding: 10px 15px 10px 45px;
}
.mobile-nav .sidebar-nav .metismenu a:hover,
.mobile-nav .sidebar-nav .metismenu a:focus,
.mobile-nav .sidebar-nav .metismenu a:active {
  text-decoration: none;
  color: #fff;
}
.mobile-nav .metismenu .has-arrow::after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  top: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mobile-nav .metismenu .active > .has-arrow::after, .mobile-nav .metismenu .has-arrow[aria-expanded=true]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
          transform: rotate(-135deg) translate(0, -50%);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  left: 0;
  background: rgba(39, 48, 75, 0.8);
}
.overlay form {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 22px;
  color: rgb(178, 178, 178);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.overlay form .form-inner {
  position: relative;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 40px;
  width: 450px;
  max-width: 100%;
  padding: 5px 20px;
}
.overlay form .form-inner input[type=text] {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  position: relative;
  height: 50px;
  top: -2px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgb(69, 68, 68);
}
.overlay form .form-inner button[type=submit] {
  background-color: transparent;
  color: #2E2A5C;
}
.overlay form .form-inner a {
  position: absolute;
  top: -30px;
  right: -10px;
}
.overlay form .form-inner a i {
  color: #3FAD48;
  font-size: 20px;
}
.overlay form .form-inner a:hover i {
  color: #37949C;
}
.overlay form .overlay-close i {
  color: #DDDDDD;
}
.overlay form .overlay-close i:hover {
  color: #2E2A5C;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#hamburger {
  color: #2E2A5C;
  font-size: 36px;
  line-height: 1;
  text-align: right;
  font-weight: 700;
  padding-left: 10px;
}
#hamburger i {
  cursor: pointer;
}

.action-bar {
  margin-top: 30px;
  padding-left: 20px;
  margin-right: 10px;
}
.action-bar a {
  color: #fff;
  display: block;
  margin-top: 12px;
}
.action-bar a i {
  margin-right: 10px;
}
.action-bar a.theme-btn {
  text-align: center;
}

.header-gutter {
  min-height: 100px;
}
@media (max-width: 615px) {
  .header-gutter {
    min-height: 90px;
  }
}

.header-search {
  position: relative;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media (max-width: 575px) {
  .header-search {
    margin-right: 15px;
  }
}
.header-search .search-toggle {
  cursor: pointer;
  color: #2E2A5C;
}

/* ----------------------------------
   Hero Section - Styles
------------------------------------ */
.hero_wrapper {
  background: #2E2A5C;
  padding: 25px 0px;
  z-index: 1;
}

.banner_title h3 {
  font-size: 27px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
.banner_title h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #DDDDDD;
  margin-bottom: 10px;
}
.banner_title h2 {
  font-size: 35px;
  font-weight: bold;
  color: rgb(200, 210, 38);
}
.banner_title ul > li {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #DDDDDD;
}
.banner_title ul > li i {
  margin-right: 10px;
}
.banner_title a {
  margin: 20px 0px;
  display: inline-block;
  padding: 10px 17px;
  color: #FFF;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #1085A9;
}
@media (max-width: 500px) {
  .banner_title a {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.banner_title a:last-child {
  background-color: #DC3545;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .banner_title a:last-child {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
.banner_title a:hover {
  background-color: #0062CC;
}
.banner_title a:hover:last-child {
  background-color: #C82333;
}

/* ----------------------------------
	Features Section Styles
 ------------------------------------ */
.section-title {
  position: relative;
  padding-bottom: 3px;
  margin-bottom: 30px;
}
.section-title h5 {
  font-size: 18px;
  color: #4FA2FF;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
}
.section-title::after {
  text-align: center;
  z-index: 1;
  content: "";
  clear: both;
  height: 3px;
  width: 150px;
  max-width: 100%;
  position: absolute;
  bottom: 0%;
  left: 37%;
  background-color: #4FA2FF;
}

/* ----------------------------------
	Call To Action Section Styles
 ------------------------------------ */
.cta_wrapper {
  padding: 50px 0px;
  z-index: 1;
  position: relative;
}
.cta_wrapper:before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(64, 84, 178, 0.9);
  -webkit-transition: all all 0.3s ease ease-in-out;
  transition: all all 0.3s ease ease-in-out;
}
@media (max-width: 768px) {
  .cta_wrapper {
    text-align: center;
  }
  .cta_wrapper a {
    text-align: center !important;
    margin-top: 30px;
  }
}
.cta_wrapper .cta_content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
.cta_wrapper .cta_content p {
  color: #FFF;
  font-size: 16px;
}
.cta_wrapper a {
  font-size: 17px;
  padding: 10px 15px;
  border: 2px solid #3FAD48;
  background-color: #3FAD48;
  border-radius: 4px;
}
.cta_wrapper a:hover {
  border: 2px solid #2E2A5C;
  background-color: transparent;
}

/* ----------------------------------
	Content Section Styles
 ------------------------------------ */
.content_wrapper {
  background: #FFF;
  overflow: hidden;
}

.content_top h2 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_top h6 {
  font-size: 16px;
}
.content_top table {
  margin-bottom: 20px;
}
.content_top table thead {
  background-color: #DDDDDD;
}
.content_top table tr th, .content_top table tr td {
  border: 1px solid rgb(188, 188, 188);
  padding: 10px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: #333333;
}
.content_top table tr .td_1 {
  background-color: #FCF8E3;
}
.content_top table tr .td_2 {
  background-color: #DFF0D8;
  color: #3FAD48;
}
.content_top table tr .td_3 {
  background-color: #F2DEDE;
  color: #A94442;
}
.content_top .td_title {
  padding: 20px 0px;
  background-color: #2E2A5C;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
.content_top p {
  font-size: 16px;
  color: #333333;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
}

.content_bottom h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3;
  color: #232323;
  text-transform: uppercase;
  margin: 30px 0px;
}
.content_bottom p {
  font-size: 16px;
  color: #333333;
  font-family: "Nunito", sans-serif;
  margin-bottom: 15px;
}

.content-right .inner-content {
  padding: 20px;
  border-radius: 2px;
  margin: 10px 0px 30px 0px;
  background-color: #70BFEA;
}
.content-right .inner-content h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.content-right .inner-content p {
  font-size: 16px;
  color: #333333;
}
.content-right .inner-content ul > li {
  list-style: circle;
  margin: 10px;
  color: #333333;
}
.content-right .inner-content a {
  color: #333333;
}
.content-right .inner-content a:hover {
  text-decoration: underline;
}
.content-right .inner-content.inner_middle {
  background-color: #2E2A5C;
}
.content-right .inner-content.inner_middle h4 {
  color: #FFF;
}
.content-right .inner-content.inner_middle p {
  color: #FFF;
}
.content-right .inner-content.inner_middle ul > li {
  color: #FFF;
}
.content-right .inner-content.inner_middle a {
  margin-top: 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #FFF;
  text-decoration: none;
}
.content-right .inner-content.inner_middle a:hover {
  border: 1px solid #3FAD48;
  background-color: #3FAD48;
}

.director_wrapper.director_wrapper_2 .director_bg {
  height: 400px;
  width: auto;
}
.director_wrapper.director_wrapper_2 .director_content h5 {
  margin: 20px 0px;
}
.director_wrapper.director_wrapper_2 .director_content .mission_info li {
  list-style: circle;
  margin: 10px;
}
.director_wrapper table thead {
  border-bottom: 2px solid rgb(188, 188, 188);
}
.director_wrapper table td a {
  color: #37949C;
}
.director_wrapper table td a:hover {
  text-decoration: underline;
}

.content-help_right h4 {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 1px;
}
.content-help_right h4::after {
  position: absolute;
  content: "";
  clear: both;
  width: 100px;
  height: 3px;
  margin-bottom: -10px;
  background-color: #DDDDDD;
  bottom: 0;
  left: 0;
}
.content-help_right p {
  margin-bottom: 1rem;
}
.content-help_right a {
  color: #1085A9;
}

.director_content h2 {
  margin-bottom: 5px;
  font-size: 32px;
  color: #333333;
  font-weight: bold;
}
.director_content h5 {
  font-size: 18px;
  color: #3FAD48;
  font-weight: 700;
}
.director_content p {
  margin-bottom: 10px;
  line-height: 23px;
}

.user-grid_widget .content h4 {
  color: #2E2A5C;
  font-weight: 800;
  margin-bottom: 0;
  margin: 15px 0px;
  font-size: 30px;
}
.user-grid_widget .content p {
  margin: 10px 0px;
}
.user-grid_widget .content p span {
  color: #37949C;
  font-weight: 900;
  font-size: 18px;
}
.user-grid_widget .content p strong {
  font-weight: 900;
  color: #232323;
}
.user-grid_widget .content ul > li {
  list-style: circle;
}

/* ----------------------------------
	Team Section Styles
 ------------------------------------ */
.campaign_wrapper .dropdown {
  margin-bottom: 30px;
}
.campaign_wrapper .dropdown select {
  padding: 7px 15px;
  border-radius: 4px;
}
.campaign_wrapper .dropdown select:focus-visible {
  outline: none !important;
}

.single_item_campaign {
  border-radius: 4px;
  background-color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.single_item_campaign .single_img {
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.single_item_campaign .single_img img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.single_item_campaign:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.single_item_campaign .campaign_content {
  padding: 10px;
}
.single_item_campaign .campaign_content .author-info {
  margin: 10px 0px;
}
.single_item_campaign .campaign_content .author-info h5 {
  margin-bottom: 8px;
  color: #37949C;
}
.single_item_campaign .campaign_content p {
  line-height: 25px;
  margin-bottom: 15px;
}
.single_item_campaign .campaign_content a {
  color: #1085A9;
}
.single_item_campaign .campaign_content a i {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.single_item_campaign .campaign_content a:hover {
  text-decoration: underline;
}
.single_item_campaign .campaign_content a:hover i {
  padding-left: 10px;
}

/* ----------------------------------
	FAQ Section Styles
 ------------------------------------ */
.raq_wrapper .accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  color: rgb(33, 37, 41);
  text-align: left;
  background-color: #2E2A5C;
  color: #FFF;
  font-weight: bold;
}
.raq_wrapper .accordion-button:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.raq_wrapper .accordion-button::after {
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  content: "\f067";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  background-image: none;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.raq_wrapper .accordion-item {
  background-color: transparent;
  border: none;
  margin: 10px 0px;
}
.raq_wrapper .accordion-body {
  padding: 10px;
  background-color: #37949C;
  color: #FFF;
}

.accordion-button:not(.collapsed)::after {
  content: "\f068";
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* ----------------------------------
	Blog Section Styles
 ------------------------------------ */
.blog-item {
  background: #FFF;
  position: relative;
  -webkit-box-shadow: 0px 6px 30px rgba(4, 33, 63, 0.04);
          box-shadow: 0px 6px 30px rgba(4, 33, 63, 0.04);
}
.blog-item .blog-featured-thumb {
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 480px) {
  .blog-item .blog-featured-thumb {
    height: 280px;
  }
}
.blog-item .blog-featured-thumb .media {
  width: 100%;
  height: 100%;
}
.blog-item .blog-featured-thumb .media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-item .blog-featured-thumb .date {
  color: #FFF;
  left: 30px;
  bottom: -20px;
  font-size: 16px;
  min-width: 80px;
  padding: 19px 12px;
  border-radius: 10px;
  position: absolute;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  background-color: #2E2A5C;
}
.blog-item .blog-featured-thumb .date span {
  display: block;
}
.blog-item .blog-featured-thumb .date span:first-child {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.blog-item .blog-featured-thumb .date span:nth-child(2) {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 575px) {
  .blog-item .blog-featured-thumb .date {
    min-width: 70px;
  }
}
.blog-item .content {
  padding: 0px 15px 20px 15px;
}
.blog-item .content .post-author a {
  font-size: 12px;
  color: #37949C;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.blog-item .content .post-author a:hover {
  color: #2E2A5C;
}
.blog-item .content .post-author .post-meta {
  gap: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-item .content h4 a:hover {
  color: #37949C;
}
.blog-item .content .theme-btn {
  border-radius: 4px;
}
.blog-item:hover .blog-featured-thumb img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog_widget .blog_img {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.blog_widget .blog_content {
  margin-top: 20px;
}
.blog_widget .blog_content p {
  margin: 7px 0px;
}
.blog_widget .users {
  margin-top: 20px;
}
.blog_widget .users .QR-code {
  margin-right: 30px;
}
.blog_widget .users .icons a i {
  font-size: 30px;
  color: #2E2A5C;
  margin: 0px 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blog_widget .users .icons a:hover i {
  color: #37949C;
}

/* ----------------------------------
	Contact Us Section Styles
 ------------------------------------ */
.become_from_widget .input-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.become_from_widget .input-group label {
  font-size: 16px;
  color: #333333;
  margin-bottom: 5px;
}
.become_from_widget .input-group input, .become_from_widget .input-group textarea {
  width: 100%;
}
.become_from_widget .input-group .form-control {
  border: 1px solid #333333;
}
.become_from_widget .input-group .form-control:focus {
  outline: 1px solid #333333;
  border: 1px solid #333333;
}
.become_from_widget .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.become_from_widget input[type=submit] {
  display: inline-block !important;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-weight: 900;
  background-color: #37949C;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.become_from_widget input[type=submit]:hover {
  background-color: #2E2A5C;
}

.content-help_right {
  margin-bottom: 20px;
}
.content-help_right h4 {
  margin-bottom: 30px;
}
.content-help_right .content_contact p, .content-help_right .content_contact a {
  margin-bottom: 15px;
}
.content-help_right .content_contact a:hover {
  text-decoration: underline;
}
.content-help_right .contact-info h3 {
  margin-bottom: 15px;
}
.content-help_right .contact-info p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 8px;
}
.content-help_right .contact-info p strong {
  color: #333333;
  font-weight: 900;
}
.content-help_right .contact-info a:hover {
  text-decoration: underline;
}

/* ----------------------------------
	Footer Section Styles
 ------------------------------------ */
.footer_top {
  overflow: hidden;
  padding: 30px 0px;
  background-color: #2E2A5C;
}
.footer_top .footer_widget h3 {
  position: relative;
  color: #3FAD48;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
@media (max-width: 990px) {
  .footer_top .footer_widget h3 {
    margin-top: 30px;
  }
}
.footer_top .footer_widget h3::after {
  content: " ";
  border-bottom: 4px solid rgb(221, 221, 221);
  width: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer_top .footer_widget .footer_link_element ul > li {
  list-style: none;
  display: block;
  margin: 5px 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer_top .footer_widget .footer_link_element ul > li a {
  font-weight: 500;
  color: #FFF;
}
.footer_top .footer_widget .footer_link_element ul > li a i {
  margin-right: 5px;
}
.footer_top .footer_widget .footer_link_element ul > li:hover {
  margin-left: 10px;
}
.footer_top .footer_widget .footer_link_element ul > li:hover a {
  color: #DDDDDD;
}
.footer_top .footer_widget .footer_element ul > li {
  list-style: none;
  display: block;
  margin: 5px 0;
  font-weight: 500;
  color: #FFF;
}
.footer_top .footer_widget .footer_element ul > li i {
  margin-right: 5px;
}

.footer-bottom {
  background-color: #1b1752;
  padding: 10px 0px;
}
.footer-bottom span {
  color: #DDDDDD;
}
.footer-bottom span a {
  color: #DDDDDD;
  text-decoration: none;
}
.footer-bottom span a:hover {
  text-decoration: underline;
}